$shadow-light : rgba(50, 50, 93, 0.3) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$color-indigo-50 : #EEF2FF;
$color-indigo-100 : #E0E7FF;

div#app {
	font-size: 25px;
    padding: 24px;
    background-color: $color-indigo-100;
    min-height: 100vh;
}

div.code {
    border-radius: 2rem;
    padding: 1rem;
    background-color: $color-indigo-50;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.5rem;
    margin: 1rem 0 1rem 0;
    box-shadow: $shadow-light
}

h1 {
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
}

img {
    position: absolute;
    top: 0;
    height: 60px;
}